{% load staticfiles %}
{% load static %}

{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html>
<head>

	<title>Login</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilologin.css' %}">

	<style type="text/css">


	</style>

</head>

<body class="bodylogin">

<center>
	<p>
    	<a href="{% url 'index:Menu' %}">
    		<img class="simbolo" src="/static/img/simbolo.png" alt="#" />
    	</a>
	</p>	
</center>


<div class="divlogin">

<center>
	<h1>INICIAR SESION</h1>
</center>

<center>

<form method="post">
{% csrf_token %}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="form-group" style="margin-top: 10px;">

			<label for="username">NOMBRE DE USUARIO O CORREO ELECTRONICO</label>
			<input class="form-control" type="text" name="username">
				
		</div>
	</div>
</div>

<div class="row" id="contra">
	<div class="col-md-6 col-md-offset-3">
		<div class="form-group">

			<label for="password">CONTRASEÑA</label>
			<input class="form-control" type="password" name="password">
				
		</div>
	</div>
</div>

<div class="row" id="botones">
	<div class="col-md-6 col-md-offset-3">
		<div class="form-group">

			<a href="{% url 'index:registrarse' %}" class="btn btn-primary" id="botonreg">Registrarse</a>
			<input class="btn btn-primary" type="submit" value="Ingresar" id="botonlog">
				
		</div>
	</div>
</div>

<div class="row" id="botones">
	<div class="col-md-6 col-md-offset-3">
		<div class="form-group">

			<a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-primary" id="botonface">Facebook</a>
				
		</div>
	</div>
</div>

</form>
</center>

</div>

<div class="finalizar">

<p>Proyecto Desarrollado por: Jean Cid <br> Jorge Gaete <br> Ramiro Reyes <br> Diego Toloza <br> Escuela: Duoc UC Maipu</p>
<br>
<br>
<br>

</div>

</body>
</html>




