{% extends 'base/base_logeado.html' %}

{% block title %}

<title>Videos</title>

{% endblock%}

{% block content %}

<div>
	<center>
		<h1 class="rec">¿Qué es reciclar?</h1>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/rrVw6YTCuc0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video1"></iframe>
	</center>	
</div>

<div>
	<center>
		<h1 class="rec">¿Por qué es tan importante?</h1>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/-UFFFUTMlCw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video2"></iframe>
	</center>
</div>


{% endblock %}